body {
  background-color: #f2f2f2;
  padding: 0 !important;
  margin: 0;
  height: 100% !important;
  min-height: -webkit-fill-available;
  /* min-height: 100%; */
  /* overflow-x: hidden; */
  box-sizing: border-box;
}
